@font-face {
  font-family: 'uncut sans';
  font-weight: normal;
  font-size: medium;
  src: local('uncut sans'), url('Uncut-Sans-Bold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'uncut-sans';
  background:linear-gradient(to right,
  #666666 0%,
  #666666 50%,
  #AEFFF1 55%,
  #AEFFF1 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}